body {
	margin: 0 0 0 0;
}

.topBar {
	background-color: #4CAF50;
	height: 30pt;
	position: fixed;
	top: 0;
	width: 100%;
	padding-left: 3px;
}
.topBtnAndMenu {
	display: inline-block;
	position: relative;
	top: 2pt;
	vertical-align: top;
	border-radius: 5px;
}
.topBtnBtn {
	border: none;
	background-color: #F4511E;
	height: 24pt;
	cursor: pointer;
	border-radius: 5px;
	transition: background-color .5s;
	box-shadow: 0 2pt black;
	width: 100pt;
}
.topBtnBtn:hover {
	background-color: #D43100;
}
.topBtnBtn:active{
	transform: translateY(2pt);
	box-shadow: 0 0;
}
.topBtnSpan {
	vertical-align: middle;
	margin: 5px 5px 5px 5px;
	font-size: 20pt;
	text-align: center;
	text-decoration: none;
	color: white;
	padding-right: 0;
	transition: .5s padding-right;
}
.topBtnSpan:after {
	content: "»";
	font-size: 20pt;
	text-align: center;
	text-decoration: none;
	color: white;
	position: absolute;
	top: 0;
	right: 20px;
	opacity: 0;
	transition: .5s;
}
.topBtnBtn:hover .topBtnSpan:after {
	opacity: 1;
}
.topBtnBtn:hover .topBtnSpan {
	padding-right: 15pt;
}
.topMenu {
	position: relative;
	top: 4pt;
	background-color: #4CAF50;
	display: block;
	height: 0;
	border-radius: 0 0 5px 5px;
	overflow: hidden;
}
.topBtnAndMenu:hover .topMenu {
	height: auto;
}
.topMenuA {
	text-decoration: none;
	color: white;
	transition: background-color .5s;
	display: block;
	font-size: 20pt;
	text-align: center;
	text-decoration: none;
	color: white;
	transition: .5s;
}
.topMenuA:after {
	content: "»";
	font-size: 20pt;
	text-align: center;
	text-decoration: none;
	color: white;
	position: absolute;
	right: 20px;
	opacity: 0;
	transition: .5s;
}
.topMenuA:hover {
	background-color: #6CCF70;
	padding-right: 15pt;
}
.topMenuA:hover:after {
	opacity: 1;
}

.mainDiv {
	margin: 40pt 10pt 10pt 10pt;
}
