body {
	margin: 0 0 0 0;
}

.topBar {
	background-color: #808080;
	height: 30pt;
	position: fixed;
	top: 0;
	width: 100%;
	padding-left: 3px;
}
.topBtnAndMenu {
	display: inline-block;
	position: relative;
	top: 2pt;
	vertical-align: top;
	border-radius: 5px;
	font-size: 20pt;
	text-align: center;
}
.topBtnA{
	text-decoration: none;
	color: white;
}
.topBtnDiv {
	padding-left: 1.25pc;
	padding-right: 1.25pc;
	background-color: black;
	height: 80%;
	cursor: pointer;
	border-radius: 5px;
	transition: background-color .5s;
}
.topBtnDiv:hover {
	background-color: #909090;
}
.topBtnSpan {
	vertical-align: middle;
}
.topMenu {
	position: relative;
	top: 2.5pt;
	background-color: #808080;
	display: block;
	height: 0;
	border-radius: 0 0 5px 5px;
	overflow: hidden;
}
.topBtnAndMenu:hover .topMenu {
	height: auto;
}
.topMenuA {
	text-decoration: none;
	color: white;
	transition: background-color .5s;
	display: block;
}
.topMenuA:hover {
	background-color: #a0a0a0;
}

.mainDiv {
	margin: 40pt 10pt 10pt 10pt;
}
